{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    {% for presentation in presentations %}
    <div class="conteneur1">

            <div class="fondimg">
                <img class="imgprofil" src="{{ presentation.imgpath }}">
            </div>
            <div class="text-presentation">
                <h2 class="titre-presentation">{{ presentation.nom }}</h2>
                <p>{{ presentation.description }}</p>
            </div>

    </div>
    {% endfor %}
{% endblock %}