{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <h1 class="titre-principal">
        Réalisations
    </h1>
    <div>
        {%  for realisation in realisations %}
            <div class="row conteneur-comp2">
                <div class="fondimg2">
                    <img class="imgprofil" src="{{ realisation.imgpath }}">
                </div>
                <div class="text-realisation">
                <h1 class="titre-competence">{{ realisation.titre }}</h1>

                <p>{{ realisation.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}